TermGenie/TermGenieCore/src/main/resources/ontology-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ontologyconfiguration" type="ontologyconfigurationType" />
  <xsd:complexType name="ontologyconfigurationType">
    <xsd:sequence>
      <xsd:element name="ontology" type="ontologyType" maxOccurs="unbounded" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ontologyType">
    <xsd:sequence>
      <xsd:element name="source" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="supports" type="supportsType" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="roots" type="rootsType" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="requires" type="requiresType" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="ontologybranch" type="ontologybranchType" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="longName" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="ontologybranchType">
    <xsd:sequence>
      <xsd:element name="roots" type="rootsType" maxOccurs="1" minOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="rootsType">
    <xsd:sequence>
      <xsd:element name="root" type="xsd:string" maxOccurs="unbounded" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="requiresType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" maxOccurs="unbounded" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="supportsType">
    <xsd:sequence>
      <xsd:element name="support" type="xsd:string" maxOccurs="unbounded" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>